@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html[lang="fa_IR"] {
  font-family: 'Vazirmatn', sans-serif;
}

html[lang="ar_SA"] {
  font-family: 'Vazirmatn', sans-serif;
}