.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 0.1fr 2.5fr 0.1fr;
  gap: 0.2rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". Top Top"
    "Eval Board Board"
    ". Bottom Bottom";
  overflow: hidden;
  height: 100%;
}

.Board {
  grid-area: Board;
  overflow: hidden;
}

.Top {
  grid-area: Top;
}

.Bottom {
  grid-area: Bottom;
}

.Eval {
  grid-area: Eval;
}
