.search {
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border-width: 1px;
  border-style: solid;
}

[data-mantine-color-scheme="light"] .search {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme="dark"] .search {
  background-color: var(--mantine-color-dark-7);
  border-color: var(--mantine-color-dark-6);
}
